<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewBag.Title - DAS数据分析系统</title>

    <link rel="stylesheet" href="~/Scripts/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/lib/dataTables/media/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Scripts/lib/layer/theme/default/layer.css" />
    <link rel="stylesheet" href="~/Scripts/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/animate.css" />
    <link rel="stylesheet" href="~/Content/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/print.css" />
    <link rel="stylesheet" href="~/Content/site.css" />
    <script src="~/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/lib/dataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/lib/dataTables/media/js/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Scripts/lib/metisMenu/dist/jquery.metisMenu.js"></script>
    <script src="~/Scripts/lib/pace/pace.min.js"></script>
    <script src="~/Scripts/lib/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/script.js" asp-append-version="true"></script>
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/lib/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/lib/layer/layer.js"></script>
</head>
<body  style="margin: 30px;">
  @RenderBody()
</body>
</html>