<form id="form1" method="post">
  @Html.AntiForgeryToken()
  <fieldset>
    <legend>查询条件</legend>
    <div class="form-group row text-center">
        <label class="col-2 col-form-label">选择月份</label>
        <div class="col-2">
            @Html.TextBox("queryMonth", null, 
                new { onfocus = "WdatePicker({isShowClear:false,readOnly:true,isShowOK:false,dateFmt: 'yyyy/MM',minDate:'2021-01-01',maxDate:'%y-%M-%ld'})",
                    @class = "form-control" })
        </div>

      <div class="col-2">
        <button class="btn btn-dark d-print-none">
          <span class="fa fa-search">查询</span>
        </button>
      </div>
    </div>
  </fieldset>
</form>
<br/>