@{
  Layout = "~/Views/Shared/LayerLayout.cshtml";
}

<div class="form-group row text-center">
  <label class="col-form-label col-4">病人性质</label>
  <select class="custom-select col-6" id="patientType" name="patientType" >
    <option value="0">常规病人</option>
    <option value="1">公安司法</option>
    <option value="2">三无流浪</option>
  </select>
</div>