@model IList<DrugRank>
@{
    ViewBag.Title = "药品排名";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("BeginEndFormPartial")
<table class="table table-sm table-bordered   text-center table-striped">
    <thead>
        <tr>
            <th>科室</th>
            <th>#</th>
            <th>药品名称</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            var i = 1;
            var j = 1;
            foreach (var item in Model)
            {
                <tr>
                    @if (item.Syks == 1)
                    {
                        <td>门诊 </td>
                        <td>@i </td>
                        i++;
                    }
                    else if (item.Syks == 2)
                    {
                        <td>住院 </td>
                        <td>@j </td>
                        j++;
                    }
                    <td>@item.Ypmc </td>
                    @if (item.DoctorRanks.Any())
                    {
                        foreach (var d in item.DoctorRanks)
                        {
                            <td>@d.Ysxm </td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>