<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="das" connectionString="Host=10.10.0.9;Username=postgres;Password=xuhui123!;Database=postgres" providerName="Npgsql" />
    <add name="hrp275" connectionString="Data Source=10.10.1.1;Initial Catalog=hrp275;Persist Security Info=False;User ID=sa;Password=fysybshis;" providerName="System.Data.SqlClient" />
    <add name="radinfo" connectionString="Data Source=10.10.0.30;Initial Catalog=radinfo;Persist Security Info=False;User ID=sa;Password=pacs..sa;" providerName="System.Data.SqlClient" />
    <add name="PortalHis" connectionString="Data Source=10.10.0.28;Initial Catalog=portal56_his;Persist Security Info=False;User ID=sa;Password=bsoft;" providerName="System.Data.SqlClient" />
    <add name="PortalMh" connectionString="Data Source=10.10.0.28;Initial Catalog=portal56_mh;Persist Security Info=False;User ID=sa;Password=bsoft;" providerName="System.Data.SqlClient" />
    <add name="bajk" connectionString="Data Source=10.10.1.24;Initial Catalog=bajk;Integrated Security=False;User ID=sa;Password=xuhui123!;" providerName="System.data.SqlClient" />
    <add name="batj" connectionString="Data Source=10.10.1.24;Initial Catalog=batj;Integrated Security=False;User ID=sa;Password=xuhui123!;" providerName="System.data.SqlClient" />
    <add name="Lab" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=bslis56;Password=bsoft;Data Source=LabSource" />
    <add name="PortalEmr" connectionString="data Source=10.10.0.28;Initial Catalog=portal56_emr;Persist Security Info=False;User ID=sa;Password=bsoft;" providerName="System.data.SqlClient" />
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PsyrcWebserviceImplServiceSoapBinding" />
        <binding name="ServiceImplSoapBinding" />
        <binding name="FYYWebServiceSoap" />
        <binding name="fyyptSoap" />
        <binding name="signSoap" />
        <binding name="carryXmlToDbServiceSoapBinding" />
        <binding name="collectDeclareServiceSoapBinding" />
        <binding name="collectDeclareServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.120.48.15:8885/JSBBKSBJK/JSBYSXXZC" binding="basicHttpBinding" bindingConfiguration="PsyrcWebserviceImplServiceSoapBinding" contract="PsychosisWebService.PsyrcWebservice" name="PsyrcWebserviceImplPort" />
      <endpoint address="http://10.120.48.15:8889/ZJSWCXXRYZXXJSJK/SBHZZCFJMJL" binding="basicHttpBinding" bindingConfiguration="ServiceImplSoapBinding" contract="YYHService.Service" name="ServiceImplPort" />
      <endpoint address="http://10.120.22.100/pay/fyywebservice.asmx" binding="basicHttpBinding" bindingConfiguration="FYYWebServiceSoap" contract="FuYangWebService.FYYWebServiceSoap" name="FYYWebServiceSoap" />
      <endpoint address="http://10.120.22.100/pay/fyypt.asmx" binding="basicHttpBinding" bindingConfiguration="fyyptSoap" contract="FyyptService.fyyptSoap" name="fyyptSoap" />
      <endpoint address="http://10.120.22.100/sign/sign.asmx" binding="basicHttpBinding" bindingConfiguration="signSoap" contract="FuyangSignService.signSoap" name="signSoap" />
      <endpoint address="http://10.120.48.15:8889/SJCJSJSCJKL/SJSCL" binding="basicHttpBinding" bindingConfiguration="carryXmlToDbServiceSoapBinding" contract="YYHDataUploadService.CarryXmlToDbService" name="CarryXmlToDbServiceImplPort" />
      <endpoint address="http://10.120.48.15:8889/SJCJHQRWHJKL/PCRWHHQL" binding="basicHttpBinding" bindingConfiguration="collectDeclareServiceSoapBinding" contract="YYhBatchNumberService.CollectDeclareService" name="CollectDeclareServiceImplPort" />
      <endpoint address="http://10.120.48.15:8889/SJCJHQRWHJKL/HQDCRWHL" binding="basicHttpBinding" bindingConfiguration="collectDeclareServiceSoapBinding1" contract="YYhSigleDeclareService.CollectDeclareService" name="CollectDeclareServiceImplPort1" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.7.0" newVersion="5.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.10" newVersion="1.3.2.10" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="LabSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.10.1.20)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
        <dataSource alias="Grld" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.10.1.5)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=RIS))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>