<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="smsSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="smsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://10.120.22.100/pay/sms.asmx" binding="basicHttpBinding"
                bindingConfiguration="smsSoap" contract="Fywj.WebService.SmsHelper.smsSoap"
                name="smsSoap" />
            <endpoint address="http://10.120.22.100/pay/sms.asmx" binding="customBinding"
                bindingConfiguration="smsSoap12" contract="Fywj.WebService.SmsHelper.smsSoap"
                name="smsSoap12" />
        </client>
    </system.serviceModel>
</configuration>