@model IList<Fy3y.Model.Das.Supplier>
@{
  ViewBag.Title = "供应商列表";
}
<table class="table table-sm text-center table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>供应商</th>
      <th>类别</th>
      <th>地区</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
</table>