<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="das" connectionString="Host=10.10.0.9;Username=postgres;Password=xuhui123!;Database=postgres" providerName="Npgsql" />
    <add name="hrp275" connectionString="Data Source=10.10.1.1;Initial Catalog=hrp275;Persist Security Info=False;User ID=sa;Password=fysybshis;" providerName="System.Data.SqlClient" />
    <add name="radinfo" connectionString="Data Source=10.10.0.30;Initial Catalog=radinfo;Persist Security Info=False;User ID=sa;Password=pacs..sa;" providerName="System.Data.SqlClient" />
    <add name="PortalHis" connectionString="Data Source=10.10.0.28;Initial Catalog=portal56_his;Persist Security Info=False;User ID=sa;Password=bsoft;" providerName="System.Data.SqlClient" />
    <add name="PortalMh" connectionString="Data Source=10.10.0.28;Initial Catalog=portal56_mh;Persist Security Info=False;User ID=sa;Password=bsoft;" providerName="System.Data.SqlClient" />
    <add name="bajk" connectionString="Data Source=10.10.1.24;Initial Catalog=bajk;Integrated Security=False;User ID=sa;Password=xuhui123!;" providerName="System.data.SqlClient" />
    <add name="batj" connectionString="Data Source=10.10.1.24;Initial Catalog=batj;Integrated Security=False;User ID=sa;Password=xuhui123!;" providerName="System.data.SqlClient" />
    <add name="Lab" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=bslis56;Password=bsoft;Data Source=LabSource" />
    <add name="PortalEmr" connectionString="data Source=10.10.0.28;Initial Catalog=portal56_emr;Persist Security Info=False;User ID=sa;Password=bsoft;" providerName="System.data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="yyh_sqlserver" value="Data Source=10.10.1.25;Initial Catalog=yyhsjk;Persist Security Info=False;User ID=sa;Password=fbsoft;" />
    <add key="yyh_oracle" value="User Id=oracle_user;Password=oracle_user_password;Data Source=yyh" />
  </appSettings>
  <!--<connectionStrings>
		<add name="yyh_sqlserver" connectionString="Data Source=xxxxxx;Initial Catalog=xxx;Persist Security Info=False;User ID=sa;Password=xx;" providerName="System.Data.SqlClient" />
		<add name="yyh_oracle" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=yyh" />
	</connectionStrings>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="carryXmlToDbServiceSoapBinding" />
        <binding name="collectDeclareServiceSoapBinding" />
        <binding name="collectDeclareServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.120.48.15:8889/SJCJSJSCJKL/SJSCL" binding="basicHttpBinding" bindingConfiguration="carryXmlToDbServiceSoapBinding" contract="YYhUploadService.CarryXmlToDbService" name="CarryXmlToDbServiceImplPort" />
      <endpoint address="http://10.120.48.15:8889/SJCJHQRWHJKL/PCRWHHQL" binding="basicHttpBinding" bindingConfiguration="collectDeclareServiceSoapBinding" contract="YYhBatchService.CollectDeclareService" name="CollectDeclareServiceImplPort" />
      <endpoint address="http://10.120.48.15:8889/SJCJHQRWHJKL/HQDCRWHL" binding="basicHttpBinding" bindingConfiguration="collectDeclareServiceSoapBinding1" contract="YYhSingleService.CollectDeclareService" name="CollectDeclareServiceImplPort1" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.10" newVersion="1.3.2.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.7.0" newVersion="5.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="LabSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.10.1.20)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
        <dataSource alias="Grld" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.10.1.5)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=RIS))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>