@{
  ViewBag.Title = "谢谢";
}
<style type="text/css">
  .card-header {
    border: none;
  }

  .card {
    border: none;
  }

  small {
    padding-left: 5px;
  }
</style>
<div class="card">
  <div class="card-header">
    <h4>
      感谢以下单位和个人提供帮助，想到哪里写哪里，不分先后！
    </h4>
  </div>
  <div class="card-body">
    <ul style="font-size: 1.25rem;">
      <li>
        <strong>明昭网络科技</strong>
        <small class="text-muted">提供ASPNET MVC开发技术支持。</small>
      </li>
      <li>
        <strong>创业软件公司</strong>
        <small class="text-muted">提供HIS数据库结构指导。</small>
      </li>
      <li>
        <strong>富阳云医健康</strong>
        <small class="text-muted">(卫计局下属国企)提供部分数据支持。</small>
      </li>
      <li>
        <strong>高观娃</strong>
        <small class="text-muted">提供药剂科相关业务开发指导工作。</small>
      </li>
      <li>
        <strong>华浩水</strong>
        <small class="text-muted">提供病区费用统计等方面开发思路。</small>
      </li>
      <li>
        <strong>戴兰云</strong>
        <small class="text-muted">提供病区护理统计等多个方面建议。</small>
      </li>
      <li>
        <strong>汪旻</strong>
        <small class="text-muted">提供设备管理等方面指导。</small>
      </li>
      <li>
        <strong>俞国平</strong>
        <small class="text-muted">提供员工通讯录及科室电话。</small>
      </li>
      <li>
        <strong>姚庚华</strong>
        <small class="text-muted">提供医疗安全日报等业务指导。</small>
      </li>
      <li>
        <strong>其它</strong>
        <small class="text-muted">后续添加</small>
      </li>
    </ul>
  </div>
</div>