@{
  ViewBag.Title = "预约系统";
}
<br />
<table class="table table-sm table-bordered text-center table-striped">
  <thead>
    <tr>
      <td rowspan="2">科室 </td>
      <td colspan="2">2019-05-28 </td>
      <td colspan="2">2019-05-29 </td>
      <td colspan="2">2019-05-30 </td>
      <td colspan="2">2019-05-31 </td>
      <td colspan="2">2019-06-01 </td>
      <td colspan="2">2019-06-02 </td>
      <td colspan="2">2019-06-03 </td>
    </tr>
    <tr>
      <td>上午 </td>
      <td>下午 </td>
      <td>上午 </td>
      <td>下午 </td>
      <td>上午 </td>
      <td>下午 </td>
      <td>上午 </td>
      <td>下午 </td>
      <td>上午 </td>
      <td>下午 </td>
      <td>上午 </td>
      <td>下午 </td>
      <td>上午 </td>
      <td>下午 </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>睡眠监测 </td>
      <td colspan="2">预约 </td>
      <td colspan="2">预约 </td>
      <td colspan="2">预约 </td>
      <td colspan="2">预约 </td>
      <td colspan="2">预约 </td>
      <td colspan="2">预约 </td>
      <td colspan="2">预约 </td>
    </tr>
    <tr>
      <td>B超 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
    </tr>
    <tr>
      <td>心电图 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
    </tr>
    <tr>
      <td>DR </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
    </tr>
    <tr>
      <td>脑电图 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
    </tr>
    <tr>
      <td>骨密度 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
    </tr>
    <tr>
      <td>心理测量 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
      <td>预约 </td>
    </tr>
  </tbody>
</table>